extend homeLayout
block content
	p
		| Test text block Jenna is stitting on the couch next to katie. 
		| Radu is on the the other couch
		| Papa and Diana are to my left
	p
		| Second test Block
		| The knob fell off the door today
		| Blue tap holds the handle on
block sidebar
	.widget
		h1 Widget
		p
			| A bit more text here. Lots of fake lorem ipsum
			| Probably should find a generator
		p
			| Seriously wish I was just generating this by now
			| Jenna would have found one by now. She's smarter. 
			